*{
    font-family: var(--default-font);
    font-style: var(--title-style);
}

.cardContainer{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width:auto;
    height:100%;
}

.contentContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title{
    text-align: left;
    overflow: hidden;
    font-size: 10pt;
    font-weight: var(--title-weight);
    border-bottom: 2px solid rgb(194, 194, 194);
    padding-bottom: 10px;
    height: 80%;
}

.productImg {
    border-radius: 10px
}
.priceContainer{
    justify-self: end;
}
.price {
    font-size: 12pt;
    font-weight: var(--subtext-weight);
}


.productBtn {
    padding: 5px;
    border: 2px solid var(--secondary-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 325;
    width: 210px;
    transition: all .5s ease;
}
.productBtn:hover{
    cursor: pointer;
    border-color: orange;
    transform: translate3D(0,-1px,0) scale(1.03);

}
.test {
    display: none;
}
