.productContainer{
    background-color: var(--secondary-bg);
    height: auto;
    padding: 5px;
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content: center;
}
.searchResultContainer{
    border-bottom: 2px solid lightgray;
}

