.productContainer{
    background-color: var(--secondary-bg);
    height: auto;
    padding: 5px;
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    justify-content: center;
}

.emptyContainer {
    display: flex;
    justify-content: center;
}

.emptyCard {
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.emptyCard h1{
    margin: 10px;
}
.emptyCard h3{
    border-bottom: 2px solid lightgray;
    padding: 10px;
}
