.container {
    padding: 5px;
    text-align: left;
    font-size: 15pt;
    border-bottom: 2px solid lightgray;
    margin: 10px 30px 10px 30px;
    padding: 10px;
}

.link {
    color: var(--link-primary);
}
.link:hover {
    text-decoration: underline;
}

.linkText {
    color: var(--primary-text);
}

